<section id="asistencia">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Confírmanos tu asistencia</h2>
                    <h3 class="section-subheading text-muted">Además indícanos si vendrás acompañadx, si sigues alguna dieta especial, y dónde te alojarás si te interesa utilizar el bus organizado.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!--<form name="sentMessage" id="contactForm" novalidate>-->
                    <form id="my-form" action="https://formspree.io/f/moqgyljj" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Nombre *" id="name" required name="text">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Tu email *" id="email" required data-validation-required-message="Please enter your email address." name="email">
                                    <p class="help-block text-danger"></p>
                                </div>
                                 <div class="control-group form-group"> 
                                     <input type="tel" class="form-control" placeholder="Tu teléfono *" id="phone" required data-validation-required-message="Please enter your phone number." name="phone"> 
                                     <p class="help-block text-danger"></p> 
                                 </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Mensaje *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Enviar mensaje</button>
                            </div>
                            <div class="col-lg-12 text-center">
                            <p class="my-form-status" id="my-form-status"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<script>
    var form = document.getElementById("my-form");
    
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("my-form-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          status.innerHTML = "Tu mensaje ha sido enviado, ¡gracias!";
	  status.innerHTML = "<div class='alert alert-success'>" +
				  "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>" +
				  "<strong>Tu mensaje ha sido enviado!</strong>" +
			      "</div>";
          form.reset()
        } else {
          response.json().then(data => {
            if (Object.hasOwn(data, 'errors')) {
              status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
            } else {
		status.innerHTML = "<div class='alert alert-success'>" +
					"<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>" +
					"<strong>Ooops! Ha habido un problema con el envío de tu mensaje. Por favor, inténtalo de nuevo.</strong>" +
				    "</div>";
            }
          })
        }
      }).catch(error => {
	  status.innerHTML = "<div class='alert alert-success'>" +
	  			"<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>" +
	  			"<strong>Ooops! Ha habido un problema con el envío de tu mensaje. Por favor, inténtalo de nuevo.</strong>" +
	    		    "</div>";
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>
