<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#informacion">Información</a>
                </li>
                <li>
                    <a class="page-scroll" href="#planning">Planning</a>
                </li>
                <li>
                    <a class="page-scroll" href="#asistencia">Confirmar asistencia</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <!--<div class="intro-text">-->
            <!-- <div class="intro-lead-in">Bienvenidos a la fiesta</div> -->
            <!--<div class="intro-heading">Laura y Pablo</div>-->
            <!-- <a href="#services" class="page-scroll btn btn-xl">Contacto Me More</a> -->
        <!--</div>-->
	<div class="intro-text">
    	    <img src="{{ site.baseurl }}/img/lauraypablo_blanco.png" style="width: 60%; height: auto">
    	    <!--<img src="{{ site.baseurl }}/img/lauraypablo_blanco.png" style="width: 35%; height: auto; float: left; margin-top: -50px; margin-left: 25px">-->
        </div>

    </div>
</header>
<!--
    {% for page in site.pages %}
    {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
    {% endfor %}
-->

