<!-- Services Section -->
<section id="informacio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Informació útil</h2>
                <h3 class="section-subheading text-muted">El que necessites saber.</h3>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-md-6">
                <span class="fa-stack fa-4x" style="display: block; margin: auto; text-align: center;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">Transport i localització</h4>
                <p class="text-muted">
                <p>Tant la cerimònia com la festa tindran lloc al Restaurant <a href="https://hotelrestaurantelacampana.com">La Campana</a>, a <a href="https://maps.app.goo.gl/VMVHJsn6T7BCx7LJ6">Carretera AS 18, KM 11, Pruvia.</a>
                Els autobusos tindran les següents sortides:</p>
                <ul>
                    <p>
                    📍 Piedrasblancas -- Avilés -- La Campana <br>
                    📍 Oviedo -- La Campana
                    </p>
                </ul>
                <p>Els horaris de sortida estan per confirmar, però pensem que seran sobre les 12:30.
                <p>L'autobús de Piedras sortirà de la <a href="https://maps.app.goo.gl/jbrJcna9Pxt5CDRK7">plaça de l'Ajuntament</a>, i pararà al <a href="https://maps.app.goo.gl/fhSxLNvsNQd2yJNU6">Parc del Moll</a> d'Avilés.
                Per al d'Oviedo, intentarem que pari als hotels esmentats o el més a prop possible.</p>
                <p>Hi haurà una única tornada quan acabi la festa, i es faran les mateixes parades a la inversa, per a que no us perdeu.</p>
                <p>Si cap dels autobusos et va bé, comenta'ns-ho.</p>
                </p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x" style="display: block; margin: auto; text-align: center;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">Allotjament</h4>
                <p class="text-muted">
                <p>Per facilitar-nos la vida, el més còmode és que si no vius a Astúries t'allotgis en un d'aquests hotels:</p>

                <ul>
                    <p>
                    📍 Hotel Carreño, Oviedo <a href="https://www.booking.com/Share-zuXHGk">[info]</a> <br>
                    📍 Hotel Favila, Oviedo <a href="https://www.booking.com/Share-XBRocr">[info]</a>
                    </p>
                </ul>

                <p>Creiem que són bones opcions qualitat/preu i totes estan a prop de l'estació d'autobusos d'Oviedo (a on es pot arribar en autobús des de l'aeroport).
                Com a alternativa, pots mirar opcions a Avilés o Piedrasblancas (el nostre poble), que estan més a prop de l'aeroport i on també pararà l'autobús del casament.
                Si t'interessa l'hotel de Piedrasblancas, pot ser que a la pàgina web no apareguin habitacions disponibles. No t'espantis, pots trucar i dir que és per al casament de Laura i Pablo:</p>

                <ul>
                    <p>📍 Hotel Piedras, Piedrasblancas <a href="https://www.hotelpiedras.com/">[info]</a></p>
                </ul>

                <p>Si no et convenç cap d'aquestes opcions, no hi ha problema! Fes-nos-ho saber i t'ajudarem a trobar un altre allotjament.</p>

                </p>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-md-6">
                <span class="fa-stack fa-4x" style="display: block; margin: auto; text-align: center;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">Menú</h4>
                <p class="text-muted">
                <p>Perquè tots puguem gaudir del menjar que més ens agrada, si segueixes alguna dieta (com vegetariana, vegana...) o tens alguna intolerància o al·lèrgia, fes-nos-ho saber per buscar la millor solució.</p>
                </p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x" style="display: block; margin: auto; text-align: center;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-glass fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">Pre-boda</h4>
                <p class="text-muted">
                <p>Actualment estem organitzant la pre-boda, que serà... abans del casament! Més detalls pròximament!</p>
                </p>
            </div>
        </div>
    </div>
</section>

