<!-- Services Section -->
<section id="informacion">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Información útil</h2>
                <h3 class="section-subheading text-muted">O que necesitas saber.</h3>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-md-6">
                <span class="fa-stack fa-4x" style="display: block; margin: auto; text-align: center;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">Transporte e localización</h4>
                <p class="text-muted">
                <p>Tanto a cerimonia como a festa terán lugar no Restaurante <a href="https://hotelrestaurantelacampana.com">La Campana</a>, en <a href="https://maps.app.goo.gl/VMVHJsn6T7BCx7LJ6">Estrada AS 18, KM 11, Pruvia.</a>
                Os autobuses terán as seguintes saídas:</p>
                <ul>
                    <p>
                    📍 Piedrasblancas -- Avilés -- La Campana <br>
                    📍 Oviedo -- La Campana
                    </p>
                </ul>
                <p>Os horarios de saída están por confirmar, pero pensamos que serán sobre as 12:30.
                <p>O autobús de Piedras sairá da <a href="https://maps.app.goo.gl/jbrJcna9Pxt5CDRK7">praza do Concello</a>, e parará no <a href="https://maps.app.goo.gl/fhSxLNvsNQd2yJNU6">Parque do Peirao</a> de Avilés.
                Para o de Oviedo, intentaremos que pare nos hoteis mencionados ou o máis preto posible.</p>
                <p>Haberá unha única volta cando remate a festa, e faranse as mesmas paradas á inversa, para que non vos perdades.</p>
                <p>Se ningún dos autobuses che colle ben, coméntanolo.</p>
                </p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x" style="display: block; margin: auto; text-align: center;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">Aloxamento</h4>
                <p class="text-muted">
                <p>Para facilitarnos a vida, o máis cómodo é que se non vives en Asturias te aloxes nun destes hoteis:</p>

                <ul>
                    <p>
                    📍 Hotel Carreño, Oviedo <a href="https://www.booking.com/Share-zuXHGk">[info]</a> <br>
                    📍 Hotel Favila, Oviedo <a href="https://www.booking.com/Share-XBRocr">[info]</a>
                    </p>
                </ul>

                <p>Cremos que son boas opcións calidade/prezo e todas están preto da estación de autobuses de Oviedo (a onde se pode chegar en autobús desde o aeroporto).
                Como alternativa, podes mirar opcións en Avilés ou Piedrasblancas (o noso pobo), que están máis preto do aeroporto e onde tamén parará o autobús do casamento.
                Se che interesa o hotel de Piedrasblancas, pode ser que na páxina web non aparezan habitacións dispoñibles. Non te asustes, podes chamar e dicir que é para o casamento de Laura e Pablo:</p>

                <ul>
                    <p>📍 Hotel Piedras, Piedrasblancas <a href="https://www.hotelpiedras.com/">[info]</a></p>
                </ul>

                <p>Se non che convence ningunha destas opcións, non hai problema! Fáinolo saber e axudarémosche a atopar outro aloxamento.</p>

                </p>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-md-6">
                <span class="fa-stack fa-4x" style="display: block; margin: auto; text-align: center;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">Menú</h4>
                <p class="text-muted">
                <p>Para que todos poidamos gozar da comida que máis nos gusta, se segues algunha dieta (como vexetariana, vegana...) ou tes algunha intolerancia ou alerxia, dínolo para buscar a mellor solución.</p>
                </p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x" style="display: block; margin: auto; text-align: center;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-glass fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">Pre-boda</h4>
                <p class="text-muted">
                <p>Actualmente estamos a organizar a pre-boda, que será... antes do casamento! Máis detalles próximamente!</p>
                </p>
            </div>
        </div>
    </div>
</section>

