<!-- Services Section -->
<section id="informacion">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Información útil</h2>
                <h3 class="section-subheading text-muted">Lo que tienes que saber.</h3>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-md-6">
		<span class="fa-stack fa-4x" style="display: block; margin: auto; text-align: center;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">Transporte y llocalización</h4>
                <p class="text-muted">
                <p> Tanto la ceremonia como la fiesta tendrán llugar nel Restaurante <a href="https://hotelrestaurantelacampana.com">La Campana</a>, na <a href="https://maps.app.goo.gl/VMVHJsn6T7BCx7LJ6">Carretera AS 18, KM 11, Pruvia.</a>
                Los autobuses van tener les siguientes salíes:</p>
                <ul>
                     <p>
                     📍 Piedrasblancas -- Avilés -- La Campana <br>
                     📍 Uviéu -- La Campana
		     </p>
                </ul>
                <p>Los horarios de salida tán por confirmar, pero pensamos que serán al rodiu les 12:30.
                <p>L'autobús de Piedras va salir de la <a href="https://maps.app.goo.gl/jbrJcna9Pxt5CDRK7">plaza l'Ayuntamientu</a>, y parará nel <a href="https://maps.app.goo.gl/fhSxLNvsNQd2yJNU6">Parque'l Muelle</a> d'Avilés.
                Pal d'Uviéu, intentaremos que pare nos hoteles mencionaos o lo más cerca posible.</p>
                <p>En principiu, va haber una única torna cuando termine la fiesta y van facese les mesmes paraes a la inversa, pa que nun vos perdáis!</p>
                <p>Si nengún de los buses te pilla bien, coméntanoslo.</p>
                </p>
            </div>
            <div class="col-md-6">
		<span class="fa-stack fa-4x" style="display: block; margin: auto; text-align: center;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">Agospiu</h4>
                <p class="text-muted">
                <p>Pa facilitanos la vida, lo más cómodo ye que si nun vives n'Asturies t'agospies nún d'estos hoteles:</p>

                <ul>
                    <p>
                    📍 Hotel Carreño, Uviéu <a href="https://www.booking.com/Share-zuXHGk">[info]</a> <br>
                    📍 Hotel Favila, Uviéu <a href="https://www.booking.com/Share-XBRocr">[info]</a>
                    </p>
                </ul>

                <p>Camentamos que son bones opciones calidá/preciu y toes tán cerca l'estación de buses d'Uviéu (onde pue llegase en bus dende l'aeropuertu).
                Como alternativa, pues mirar opciones n'Avilés o Piedrasblancas (el nuesu pueblu), que tán más cerca l'aeropuertu y onde tamién parará'l bus de la boda.
                Si t'interesa l'hotel de Piedrasblancas, pue que na páxina web nun apaezan habitaciones disponibles. Nun t'asustes, pues llamar y dici-yos que ye pa la nuesa boda:</p>

                <ul>
                    <p>📍 Hotel Piedras, Piedrasblancas <a href="https://www.hotelpiedras.com/">[info]</a></p>
                </ul>

                <p>Si nun te convence nenguna d'estes opciones, nun hai problema! Fáinoslo saber y t'ayudamos a alcontrar otru agospiu.</p>
                </p>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-md-6">
		<span class="fa-stack fa-4x" style="display: block; margin: auto; text-align: center;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">Menú</h4>
                <p class="text-muted">
                <p>Pa que toxs podamos esfrutar de la comida que más nos presta, si sigues dalguna dieta (como vexetariana, vegana...) o tienes dalguna intolerancia o alerxa, dínoslo pa buscar la meyor solución.</p>
                </p>
            </div>
            <div class="col-md-6">
		<span class="fa-stack fa-4x" style="display: block; margin: auto; text-align: center;">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-glass fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">Pre-boda</h4>
                <p class="text-muted">
                <p> Actualmente tamos organizando la pre-boda, que será... antes de la boda! Más detalles prósimamente! </p>
                </p>
            </div>
        </div>
    </div>
</section.>
