<!-- Services Section -->
    <section id="informacion">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Información útil</h2>
                    <h3 class="section-subheading text-muted">Lo que necesitas saber.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Alojamiento</h4>
                    <p class="text-muted">
		    <p>Para facilitarnos la vida, lo más cómodo es que si no vives en Asturias te alojes en uno de estos hoteles:</p>

<ul>
  <li>📍 Hotel Carreño, Oviedo. <a href="https://www.booking.com/Share-zuXHGk">link</a></li>
  <li>📍 Hotel Uría 25 rooms, Oviedo. <a href="https://www.booking.com/Share-BY3OwvK">link</a></li>
  <li>📍 Hotel Favila, Oviedo <a href="https://www.booking.com/Share-XBRocr">link</a></li>
</ul>

<p>Creemos que son buenas opciones calidad/precio y todas están cerca de la estación de buses de Oviedo (donde llegarás si vienes del aeropuerto).</p>
<p>Como alternativa, te proponemos el hotel de nuestro pueblo, que está muy cerca del aeropuerto y desde donde también saldrá un bus a la boda.</p>

<ul>
  <li>📍 Hotel Piedras, Piedrasblancas <a href="https://www.booking.com/Share-lnT7KC">link</a></li>
</ul>

<p>Si no te convence ninguna de estas opciones, no hay problema! Háznoslo saber y buscaremos la solución.</p>

</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Transporte</h4>
                    <p class="text-muted">
<p>Los autobuses tendrán las siguientes salidas:</p>
<ul>
  <li>Piedrasblancas -&gt; Avilés -&gt; La Campana</li>
  <li>Oviedo -&gt; La Campana</li>
</ul>
<p>Los horarios de salida están por confirmar, pero pensamos que serán sobre las 12:30.</p>
<p>El autobús de Piedras saldrá de la <a href="https://maps.app.goo.gl/jbrJcna9Pxt5CDRK7">plaza del ayuntamiento</a>, y parará en el <a href="#">Parque de Muelle</a> de Avilés.
Para el de Oviedo, intentaremos que pare en los hoteles mencionados o lo más cerca posible.</p>
<p>Habrá una única vuelta cuando termine la fiesta, y se harán las mismas paradas a la inversa, para que no os perdáis.</p>
<p>Si ninguno de los buses te pilla bien, coméntanoslo.</p>
		    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Menú</h4>
                    <p class="text-muted">
<p>Para que todos podamos disfrutar de la comida que más nos gusta, si sigues alguna dieta (como vegetariana, vegana...) o tienes alguna intolerancia o alergia, dinoslo para buscar la mejor solución.</p>
		    </p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-glass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pre-boda</h4>
                    <p class="text-muted"> Actualmente estamos organizando la pre-boda, que será... antes de la boda! Más detalles proximamente! </p>
                </div>
            </div>
        </div>
    </section>
